<body>
    <div class="text-center my-3">
        <h1 id="Gasto">Nuevo Gasto</h1>
    </div>
        <h1>Saldo: S/.@ViewBag.Saldo</h1>
    <div class="container">
        <form action="/Cuenta/Gasto?IdCuenta=@ViewBag.CuentaId" method="post">
            <div class="mb-3">
                <label for="Descripcion">Nombre del Gasto: </label>
                <input type="text" class="form-control" Name="Descripcion" id="Descripcion" value="@Model.Descripcion" required>
                @Html.ValidationMessage("Descripcion")
            </div>
            <div class="mb-3">
                <label for="Monto">Monto a Gastar: </label>
                <input type="number" class="form-control" Name="Monto" id="Monto" value="@Model.Monto" min="0.00" step="0.01" required>
                @Html.ValidationMessage("Monto")
            </div>
                <button class="btn btn-primary">Guardar Gasto</button>
                <a href="/Cuenta/Index" class="btn btn-primary">Atrás</a>
        </form>
    </div>
</body>