<body>
    <div class="text-center my-3">
        <h1 id="Mov">Movimientos</h1>
    </div>
    <div class="container">
        <div class="mb-3">
            <a href="/Cuenta/VerGastos?IdCuenta=@ViewBag.CuentaId" class="btn btn-primary">Ver Gastos</a>
        </div>
        <div class="mb-3">
            <a href="/Cuenta/VerIngresos?IdCuenta=@ViewBag.CuentaId" class="btn btn-primary">Ver Ingresos</a>
        </div>
    </div>
</body>